.search-box{
    -fx-background-color:#FFFFFF;
    -fx-background-radius: 100;
}

.transparent{
    -fx-background-color: rgba(0,0,0,0);
}

.search-button{
    -fx-background-color: #828282;
    -fx-background-radius: 30;
}

.right-bar{
    -fx-background-color: #D3D3D3;
}

.shadow{
    -fx-effect: dropShadow(three-pass-box,rgba(0,0,0,0.1), 10.0 , 0.0 , 0.0 ,10.0);
}

.chosen-event-card{
    -fx-background-color: #f67c04;
    -fx-background-radius: 30;
}

.comboBox{
    -fx-background-color: rgba(255,255,255,0.3);
    -fx-background-radius: 30;
}

.add-btn{
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 100;
}

.free-delivery-card{
    -fx-background-color: #D3D3D3;
    -fx-background-radius: 30;
}

.shopping-online-card{
    -fx-background-color: #BAEAC3;
    -fx-background-radius: 30;
}

.troc-event{
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 30;
}
/* Style for Labels */
.label2 {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
}

/* Style for Text Fields */
.text2 {
    -fx-font-size: 14px;
    -fx-text-fill: #666666;
    -fx-padding: 5px;
    -fx-background-color: #f4f4f4;
    -fx-border-color: #cccccc;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}

/* Style for VBox */
.vbox2 {
    -fx-spacing: 5px;
    -fx-padding: 10px;
}
